@model IEnumerable<OpenIZAdmin.Models.PolicyModels.ViewModels.PolicyViewModel>
@{
    ViewBag.Title = Locale.Policies;
}
<div id="search-partial">
    @Html.Partial("_SearchPartial", new OpenIZAdmin.Models.SearchModel())
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#search-partial').bind("DOMSubtreeModified", function () {
                $("#policiesSearchTable").DataTable();
            });
        });
    </script>
    }