@model IEnumerable<OpenIZAdmin.Models.ProviderModels.ViewModels.ProviderViewModel>
@{
    ViewBag.Title = Locale.Providers;
}

@Html.Partial("_SearchPartial", new OpenIZAdmin.Models.SearchModel())

@*<h2> Provider Index</h2>*@

