@model IEnumerable<OpenIZAdmin.Models.ConceptModels.ViewModels.ConceptSearchResultViewModel>
@{
    ViewBag.Title = Locale.Concepts;
}
<div id="search-partial">
    @Html.Partial("_SearchPartial", new OpenIZAdmin.Models.SearchModel())

    <div class="form-group">
        <div class="pull-right">
            <span>@Locale.NewConceptSet</span>
            <a href="~/ConceptSet/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>

</div>



