@model IEnumerable<OpenIZAdmin.Models.ViewModels.AppletViewModel>
@{
    ViewBag.Title = "Applets";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        Applets
        <div class="pull-right">
            <span>New</span>
            <a href="~/Applet/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
    </div>
</div>