@model IEnumerable<OpenIZAdmin.Models.ViewModels.CertificateRequestViewModel>
@{
    ViewBag.Title = "Certificate Requests";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        Certificate Requests
    </div>
    <div class="panel panel-body">
    </div>
</div>

