<div id="confirm-delete-modal" class="modal hide fade">
    <div class="modal-body">
        @Locale.ConfirmDelete
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-success" id="delete">@Locale.Yes</button>
        <button type="button" data-dismiss="modal" class="btn btn-danger">@Locale.No</button>
    </div>
</div>