@model IEnumerable<OpenIZAdmin.Models.DeviceModels.ViewModels.DeviceViewModel>
@{
    ViewBag.Title = "Devices";
}
<div class="panel panel-default">
    <div class="panel panel-heading">
        Devices
        <div class="pull-right">
            <span>New</span>
            <a href="~/Device/Create" class="glyphicon glyphicon-plus-sign"></a>
        </div>
    </div>
    <div class="panel panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Creation Time
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Updated Time
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="clickable-row" data-href="/Device/Device?id=@item.Name">
                        <td><span class="glyphicon glyphicon-phone pull-left" aria-hidden="true"></span></td>
                        <td>@item.CreationTime.ToLocalTime()</td>
                        <td>@item.Name</td>
                        <td>@item.UpdatedTime</td>
                        <td><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span></td>
                    </tr>}
            </tbody>
        </table>

    </div>
</div>
