@model IEnumerable<OpenIZAdmin.Models.ViewModels.DeviceViewModel>
@{
    ViewBag.Title = "Devices";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        Devices
    </div>
    <div class="panel panel-body">
    </div>
</div>

