@model IEnumerable<OpenIZAdmin.Models.UserAdministration.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Users";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        Users
    </div>
    <div class="panel panel-body">
    </div>
</div>

