@model IEnumerable<OpenIZAdmin.Models.UserAdministration.ViewModels.UserRoleViewModel>
@{
    ViewBag.Title = "User Roles";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        User Roles
    </div>
    <div class="panel panel-body">
        @if (Model.Count() > 0)
        {

        }
        else
        {
            <p>No user roles have been added.</p>
        }
    </div>
</div>

