@{
    ViewBag.Title = Locale.InternalServerError;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="error-wrapper error-page-wrapper text-center">
                <h1>@Locale.InternalServerError</h1>
                <p>@Locale.InternalServerErrorMessage</p>
            </div>
        </div>
    </div>
</div>