@{
    ViewBag.Title = Locale.PageNotFound;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="error-wrapper error-page-wrapper text-center">
                <h1>@Locale.PageNotFound</h1>
                <p>@Locale.PageNotFoundMessage</p>
            </div>
        </div>
    </div>
</div>