@model IEnumerable<OpenIZAdmin.Models.UserModels.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Users";
}

<div class="content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main row">
    @Html.Partial("_SearchPartial", new OpenIZAdmin.Models.SearchModel())
</div>