@model OpenIZAdmin.Models.AccountModels.ManageModel
@{
    ViewBag.Title = "Manage";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        @Locale.ChangePassword
    </div>
</div>