@model IEnumerable<OpenIZAdmin.Models.AppletModels.ViewModels.AppletViewModel>
@{
    ViewBag.Title = "Applets";
}
<div id="applets-partial">   
    @Html.Partial("_AppletsPartial", Model)
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $('#applets-partial').bind("DOMSubtreeModified", function () {
                $("#appletsTable").DataTable();
            });
        });
    </script>
}