@model IEnumerable<OpenIZAdmin.Models.AppletModels.AppletViewModel>
@{
    ViewBag.Title = Locale.Applets;
}
<div id="applets-partial">   
    @Html.Partial("_AppletsPartial", Model)
</div>



@section scripts{
    <script>
        $(document).ready(function () {

            $('#applets-partial').bind("DOMSubtreeModified", function () {
                $("#appletsTable").DataTable({
                    "language":
                    {
                        "url": "/Content/datatable-locales/" + getCookie("@LocalizationConfig.LanguageCookieName") + ".json"
                    }
                });
            });
        });
    </script>
}