@model OpenIZAdmin.Models.CertificateModels.ViewModels.CertificateIndexViewModel
@{
    ViewBag.Title = "Certificates";
}

<h2>Certificates</h2>

@Html.Partial("_CertificateSigningRequestsPartial", Model.CertificateSigningRequests)

