@model OpenIZAdmin.Models.CertificateModels.RejectCertificateSigningRequestModel
@{
    ViewBag.Title = "Create";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Submit Certificate Signing Request</span>
    </div>
    <div class="panel panel-body">
    </div>
</div>

