@model OpenIZAdmin.Models.RealmModels.LeaveRealmModel
@{
    ViewBag.Title = "JoinRealm";
}

@Html.Partial("_CurrentRealmPartial", Model.CurrentRealm)

<div class="content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main row">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            Leave Realm
        </div>
        <div class="panel panel-body panel-default">
            @using (Html.BeginForm("LeaveRealm", "Realm", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.CurrentRealm.Id, new { @class = "form-control" })

                <div class="form-group">
                    <div class="col-md-10">
                        Are you sure you would like to leave the current realm?
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <a href="/Realm" class="btn btn-default">Cancel</a>
                        <input type="submit" value="Leave Realm" class="btn btn-danger" />
                    </div>
                </div>}
        </div>

    </div>
</div>